<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff" class="spinner"
  type="ball-scale-multiple" >

  <p style="font-size: 20px; color: white">Updating your data and training the Machine Learning Model..!</p>
</ngx-spinner>


<div class="container" style="margin-top: -40px;">
  <div class="row ml-1 text-left">
    <div class="col-sm-4 ">
      <h2>{{user.knownAs}}'s Profile</h2>
    </div>
    <div class="col-sm-8 ">
      <div class="alert alert-danger" *ngIf="memberEditForm.dirty || clickedInterests" >
        <strong style="color: white;">You have made some changes. Any unsaved changes won't be saved..!</strong>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-4">
    <div class="card ">
      <div class="text-center ">
        <img class="card-image-top img-thumbnail " [src]="photoUrl === null ? '../../../../assets/user.png' : photoUrl" onerror="'../../../../assets/user.png '" alt="{{user?.knownAs}}">
      </div>
      <div class="card-body">
        <div>
          <strong>Location: </strong>
          <p>{{user?.city}}, {{user?.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{user?.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{user?.lastActive | timeAgo}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-success btn-block w-100 " form="editForm" [disabled]="!memberEditForm.dirty && !clickedInterests" style="margin-bottom: 10px;">Save Changes</button>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-8">
    <div class="tab-panel" style="color: red;">
      <tabset class="member-tabset" >

        <tab heading="Edit Profile"  >
          <form #memberEditForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
            <h4>Bios</h4>
             <textarea name="introduction" rows="4" class="form-control" [(ngModel)]="user.bios" name="bios" style="overflow-y: hidden; resize:none"></textarea>
             <h4 class="mt-3">Looking for</h4>
             <textarea name="introduction" rows="4" class="form-control" [(ngModel)]="user.lookingFor" name="lookingFor" style="overflow-y: hidden; resize:none"></textarea>

             <h4 class="mt-3 mb-2">Location Details</h4>
            <div class="form-row" style="margin-bottom: -50px;">
              <div class="form-group col-md-6">
                <label for="city">City</label>
                <input class="form-control"  [(ngModel)]="user.city" name="city"  type="text">
              </div>
              <div class="form-group col-md-6">
                <label for="country">Country</label>
                <input type="text" class="form-control" [(ngModel)]="user.country" name="country" type="text">
              </div>

              <!-- <div class="form-group col-md-6">
                <label for="country">Country</label>
                  <select class="form-group col-md-6" id="country" [(ngModel)]="user.country" name="country">
                <option *ngFor="let country of countryList" [value]="country.value" >
                  {{country.display}}
                </option>
              </select>
            </div> -->
            </div>

            </form>
            <br>
        </tab>

        <tab heading="Interests" >
          <h4 class="text-center mb-3">Interests</h4>

              <!-- <bar-rating [(rate)]="rate"  [max]="9"  [showText]="true" [theme]="'horizontal'"
              [titles]="['1', '2' , '3', '4','5','6','7','8','9']"></bar-rating> -->

            <ng-template #t let-fill="fill" >
              <span class="star" [class.full]="fill === 100">
                <span style="border: none;" class="half" [style.width.%]="fill">&hearts;</span>&hearts;
              </span>
            </ng-template>

            <form #editInterestForm="ngForm" id="editForm" (click)="clickInterests()">
            <div class="row" >
              <div class="col-3">
                <span class="text-left">Movies: {{user.movies}} </span>
              </div>
              <div class="col-6 text-left" id="ngRating">
                <ngb-rating style="margin-top: -20px; "  ControlValueAccessor="true" [(rate)]="user.movies" [starTemplate]="t" [readonly]="false" [max]="9" ></ngb-rating>
               </div>
               <div class="col-1">
                <span class="text text-danger "  style="font-weight: bolder;"  (click)="changeToZero('movies')">None</span>
               </div>
            </div>

            <div class="row">
              <div class="col-3">
                <span class="text-left">TV Shows: {{user.tv}} </span>
              </div>
              <div class="col-6 text-left">
                <ngb-rating style="margin-top: -20px;" [(rate)]="user.tv" [starTemplate]="t" [readonly]="false" [max]="9" ></ngb-rating>
              </div>
              <div class="col-1">
                <span class="text text-danger "  style="font-weight: bolder;" (click)="changeToZero('tv')">None</span>
               </div>
            </div>

            <div class="row">
              <div class="col-3">
                <span class="text-left">Relegion: {{user.religion}} </span>
              </div>
              <div class="col-6 text-left">
                <ngb-rating style="margin-top: -20px;" [(rate)]="user.religion" [starTemplate]="t" [readonly]="false" [max]="9" ></ngb-rating>
              </div>
              <div class="col-1">
                <span class="text text-danger " style="font-weight: bolder;" (click)="changeToZero('relegion')">None </span>

               </div>
            </div>

            <div class="row">
              <div class="col-3">
                <span class="text-left">Music: {{user.music}} </span>
              </div>
              <div class="col-6 text-left">
                <ngb-rating style="margin-top: -20px;" [(rate)]="user.music" [starTemplate]="t" [readonly]="false" [max]="9" ></ngb-rating>
              </div>
              <div class="col-1">
                <span class="text text-danger "   style="font-weight: bolder;"  (click)="changeToZero('music')">None</span>
               </div>
            </div>

            <div class="row">
              <div class="col-3">
                <span class="text-left">Sports: {{user.sports}} </span>
              </div>
              <div class="col-6 text-left">
                <ngb-rating style="margin-top: -20px;" [(rate)]="user.sports" [starTemplate]="t" [readonly]="false" [max]="9" ></ngb-rating>
              </div>
              <div class="col-1">
                <span class="text text-danger "  style="font-weight: bolder;"  (click)="changeToZero('sports')">None</span>
               </div>
            </div>

            <div class="row">
              <div class="col-3">
                <span class="text-left">Books: {{user.books}} </span>
              </div>
              <div class="col-6 text-left">
                <ngb-rating style="margin-top: -20px;" [(rate)]="user.books" [starTemplate]="t" [readonly]="false" [max]="9" ></ngb-rating>
              </div>
              <div class="col-1">
                <span class="text text-danger "  style="font-weight: bolder;" (click)="changeToZero('books')">None</span>
               </div>
            </div>

            <div class="row">
              <div class="col-3">
                <span class="text-left">Politics: {{user.politics}} </span>
              </div>
              <div class="col-6 text-left">
                <ngb-rating style="margin-top: -20px;" [(rate)]="user.politics" [starTemplate]="t" [readonly]="false" [max]="9" ></ngb-rating>
              </div>
              <div class="col-1">
                <span class="text text-danger " style="font-weight: bolder;"  (click)="changeToZero('politics')">None</span>
               </div>
            </div>
          </form>
          </tab>

          <tab heading="Edit Photoes" style="font-weight: bolder;" class="text font-weight-bold">
            <app-photo-editor [photoes]="user.photos" (getMemberPhotoChange)=(updateMainPhoto($event))></app-photo-editor>
          </tab>



        </tabset>
      </div>
    </div>

  </div>
</div>
