.img-thumbnail{
  margin: 25px;
  width: 65%;
  height: 65%;
  text-align: center;
  display: inline-block;
}

.card-body{
  padding: 0 25px;;
}

.card-footer{
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}


.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;

}
.full {
  color: red;


}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
  border: none;
}

.half:hover{
    outline: 0px solid transparent;
}


#ngbRating:hover{
  color: green;
}

span:hover{
  cursor: pointer;

}
input {
  padding: 4px 10px 4px 10px;
  border-radius: 0px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #CFD8DC;
  color: #000;
  cursor: pointer;
  letter-spacing: 1px
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}
