button:focus {
  outline: 0;
}

.navbar .dropdown-menu .form-control {
  width: 200px;
  color: black;
}


.dropdown-toggle{
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  }


#ddList:hover {
  background-color: lightslategrey;
}

#navImage {
  max-height: 40px;
  border: 2px solid white;
  display: inline;
}


#btnLogin {
height: 5px;
}
