button:focus {
  outline: 0;
}

.navbar .dropdown-menu .form-control {
  width: 200px;
  color: black;
}


.dropdown-toggle{
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  }


#ddList:hover {
    color: red;
    }
