<div class="row"  *ngIf="!registerMode">
  <div class="col-12  text-center" style="margin-top: -50px; margin-bottom: -40px;">
    <img src="../../assets/bridebanner.jpg" class="img-fluid" style="width: 1200px; max-height: 250px;" alt="">
  </div>
</div>


<div class="row " *ngIf="!registerMode">
  <div class="col-1  text-center" style="margin-top: -50px; margin-bottom: 0px;">
    <!-- <img src="../../assets/bride1.jpg" class="img-fluid" style="width:  450px; max-height: 950px;" alt=""> -->
  </div>

  <div class="col-6" style="text-align: center; margin-top: -135px;" *ngIf=" !registerMode">
    <h1>Find your match</h1>
    <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg">Findout more</button>
    </div>

  </div>

  </div>

  <!-- <div class="col-3  text-center" style="margin-top: -50px; margin-bottom: -40px;">
    <img src="../../assets/aiimage.jpeg" class="img-fluid" style="width: 250px; max-height: 650px;" alt="">
  </div> -->


  <!-- <div class="row">
    <div class="col-12  text-center" style="margin-top: -50px; margin-bottom: -40px;">
      <img src="../../assets/Tamil-Marriage1.jpg" class="img-fluid" style="width: 800px; max-height: 225px;" alt="">
    </div>
  </div> -->
<!-- <div class="row mt-5">
  <div class="col-12 mt-5 text-center">
      <img src="../../assets/aiimage.jpeg" class="img-fluid" style="width: 750px; max-height: 250px;" alt="">
  </div>
</div> -->

  <div class="container" *ngIf="registerMode">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegistrationMode($event)"></app-register>
      </div>
    </div>
  </div>

  <!-- <div class="div" style="border: 2px solid black;">
    <p class="text-alert">
      <strong>value works!</strong>
    </p>

    <button class="btn btn-primary">Danger</button>

    <ul *ngFor="let item of values" >
      <ol>{{item.id}} ~~~ {{item.name}}</ol>
    </ul>
  </div> -->
